// ==========================================================================
// Module
// Major code and styling for the project is divided into modules and kept here.
// Modular division examples include division of partials into header, main, footer, banner etc.
// For most SPAs partials are divided according to their respective components.
// Example: AppContainer.jsx component for React will have a related partial named "_app-container.jsx".
// This partial can be removed or renamed to something common like "_header.scss".
//
// ---------------------------------------------------------------------------
//
// Other module partials example:
// _header.scss
// _forms.scss
// _footer.scss
// _container.scss
// _common.scss
// ==========================================================================

.section {
  height: 100vh;

  @include m(1) {
    background-image: url(../../images/homepage-bg.png);
    background-size: cover;
    background-position: 71%;
    background-repeat: no-repeat;

    .container {
      height: 100%;
    }

    .wrapper {
      height: inherit;
      display: grid;
      align-content: end;
      justify-content: center;
      justify-items: center;
      grid-gap: 1.5rem;
      max-width: 304px;
      text-align: center;
      margin: 0 auto;
    }

    h1 {
      font-size: rem(33px);
      line-height: rem(39px);
      font-weight: $font-black;
    }

    h2 {
      font-size: rem(18px);
      color: $gray;
      font-weight: $font-regular;
    }

    @include mq(md) {
      background-size: cover;
      background-position: 100%;

      h1 {
        font-size: rem(49px);
        line-height: rem(57px);
      }

      h2 {
        font-size: rem(21px);
      }

      .wrapper {
        align-content: center;
        justify-content: start;
        justify-items: flex-start;
        text-align: left;
        max-width: 470px;
      }
    }
  }

  @include m(2) {
    background-color: map-get(map-get($palettes, brown-shades), brown-light);

    .wrapper {
      height: inherit;
      display: grid;
      align-content: center;
      justify-content: center;
      justify-items: center;
      padding: rem(150px) 0;
      grid-gap: rem(48px);
    }

    h3 {
      font-size: rem(40px);
    }

    p {
      color: map-get(map-get($palettes, brown-shades), dark);
      line-height: rem(26px);
      font-size: 18px;
      font-weight: $font-light;
    }
  }

  @include m(3) {
    background-color: map-get(map-get($palettes, brown-shades), lightest);
    height: 100%;

    .wrapper {
      height: inherit;
      display: grid;
      align-content: center;
      justify-content: center;
      justify-items: center;
      padding: rem(150px) 0;
      grid-gap: rem(48px);
    }

    h3 {
      font-size: rem(40px);
    }

    p {
      color: map-get(map-get($palettes, brown-shades), dark);
      line-height: rem(26px);
      font-size: 18px;
    }
  }

  @include m(header) {
    text-align: center;
    max-width: 409px;
    display: grid;
    grid-gap: rem(33px);
  }

  @include mq(md) {
    height: rem(900px);
  }
}
